$orange: #FFA200;
$green: #6EDA78;

.container {
  text-align: center;
  background: linear-gradient(135deg, $green, $orange);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.shape {
    width: 160px;  
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

// .triangle {
//     width: 0;
//     height: 0;
//     border-left: 100px solid transparent;
//     border-right: 100px solid transparent;
//     border-bottom: 150px solid grey;
// }

// .circle {
//     width: 50px; 
//     height: 50px;
//     border-radius: 50%;
//     background: gray;
//   }

// .square {
//   width: 100px;
//   height: 100px;
//   background: gray;
// }

// .oval {
//   width: 120px;
//   height: 60px;
//   border-radius: 50%;
//   background: gray;
// }

// .trapezoid {
//   border-bottom: 50px solid gray;
//   border-left: 25px solid transparent;
//   border-right: 25px solid transparent;
//   height: 0;
//   width: 100px;
// }

// .parallelogram {
//   width: 100px;
//   height: 50px;
//   background: gray;
//   transform: skew(20deg);
// }
